@import "../_base/variables.scss";

header {
  height: 10vh;
  padding: 0 50px;
  position: relative;
  #logo {
    span {
      font-size: 3vh;
      font-weight: bold;
      text-transform: uppercase;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $margin;
  }
  ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: $margin;
    top: 50%;
    right: $margin;
    transform: translateY(-50%);
  }
}
