@import "../_base/variables.scss";

#list {
  margin: 0 50px;
  color: black;
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-auto-rows: 450px;
    justify-content: center;
    li {
      background-color: white;
      padding: $padding;
      position: relative;
      h2 {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: $padding;
      }
      #softs {
        position: absolute;
        bottom: $padding;
        right: $padding;
      }
      #video {
        position: absolute;
        bottom: $padding;
        left: $padding;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: rgb(161, 159, 159);
        padding: 3px 5px 5px 5px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
          background-color: rgb(41, 160, 124);
          color: white;
        }
      }
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }

      #coutainer-btn {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
