#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}
#modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  video,
  img {
    height: auto;
    width: 90vmin;
  }
  button {
    width: 5vmin;
    height: auto;
    background-color: rgb(214, 57, 57);
    color: white;
    border: none;
    outline: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    span {
      font-size: 3vmin;
    }
  }
}
