@import "../_base/variables.scss";

#description {
  height: calc(100vh - (10vh + 100px));

  p {
    width: clamp(400px, 80vmin, 900px);
    font-size: clamp(20px, 10%, 35px);
    position: absolute;
    text-align: justify;
    line-height: 35px;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
  }
}
