@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "./_base/reset.scss";

@import "./_components/header.scss";
@import "./_components/modal.scss";
@import "./_components/footer.scss";
@import "./_components/textAbout.scss";
@import "./_components/listProjects.scss";

body {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  #app {
    min-height: 100vh;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
